:root {
    /* Colors */
    --color-emerald-50: #ecfdf5;
    --color-emerald-100: #d1fae5;
    --color-emerald-200: #a7f3d0;
    --color-emerald-300: #6ee7b7;
    --color-emerald-400: #34d399;
    --color-emerald-500: #10b981;
    --color-emerald-600: #059669;
    --color-emerald-700: #047857;
    --color-emerald-800: #065f46;
    --color-emerald-900: #064e3b;

    --color-general: #e0e0e0;

    --color-neutral-400: #94a3b8;

    --color-navigation: #64748B;

    --color-shadow: #000000;
    --color-white: #FFFFFF;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-general);
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
}

.header {
    background-color: var(--color-emerald-900);
    width: 100%;
    display: flex;
    height: 15%;
    justify-content: space-between;
    padding-top: 2rem;
}

.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

.logo-section>img {
    height: 3.5rem;
}

.logo-section>span {
    color: var(--color-emerald-50);
    font-size: 2rem;
    padding-top: 0.5rem;
}

.profile-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-navigation>img {
    margin: 1rem;
}

.profile-navigation>img:first-child {
    height: 1.5rem;
}

.profile-navigation>img:last-child {
    height: 2.5rem;
    border-radius: 50%;
}

.dashboard-navigation {
    background-color: #e6e6e6;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-navigation>.navigation {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.dashboard-navigation>.navigation>img {
    height: 2rem;
    margin: 3rem;
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.dashboard-navigation>.navigation>span {
    color: var(--color-emerald-700);
    margin-top: 0.5rem;
    padding: 0;
    text-align: center;
}

.content-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content-area>.section-1 {
    display: flex;
    background-color: var(--color-emerald-800);
    width: 22rem;
    height: 11.8rem;
    margin: 1.5rem;
    margin-top: 2.5rem;
    border-radius: 1rem;
}

.content-area>.section-1>.sub-section:first-child {
    display: flex;
    flex-direction: column;
    color: #e0e0e0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1.5rem;
    font-size: 0.8rem;
}

.content-area>.section-1>.sub-section:first-child>p {
    letter-spacing: 0.1rem;
}

.content-area>.section-1>.sub-section:first-child>span {
    font-weight: 700;
    margin-top: 0.5rem;
    font-size: 0.9rem;
}

.content-area>.section-1>.sub-section:first-child>button {
    height: 3.3rem;
    margin-top: 1rem;
    border-radius: 10rem;
    background-color: var(--color-emerald-50);
    color: var(--color-emerald-900);
    font-weight: 800;
    border: none;
}

.content-area>.section-1>.sub-section:last-child {
    align-items: center;
    justify-content: center;
}

.content-area>.section-1>.sub-section:last-child>img:first-child {
    position: relative;
    top: 3.3rem;
    right: -0.9rem;
}

.content-area>.section-1>.sub-section:last-child>img:last-child {
    position: relative;
    top: -1.3rem;
    right: 0.5rem;
    z-index: 3;
}

.content-area>.section-2 {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.content-area>.section-2>.services-category {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10rem;
    cursor: pointer;
}

.content-area>.section-2>span {
    text-indent: 1rem;
    font-size: 1.3rem;
    color: var(--color-emerald-900);
    font-weight: 700;
}

.content-area>.section-2>.services-category>.sub-section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: 5px 5px 10px #c7c7c7,
        -5px -5px 10px #f9f9f9;
    height: 10rem;
    width: 10rem;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.content-area>.section-2>.services-category>.sub-section>img {
    height: 4rem;
    width: 4rem;
    margin-bottom: 1rem;
}

.content-area>.section-2>.services-category>.sub-section>span {
    color: var(--color-emerald-900);
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

@media only screen and (min-width: 1920px) {
    .dashboard-navigation {
        position: relative;
        background: none;
        top: -7rem;
    }

    .dashboard-navigation>.navigation>img {
        visibility: hidden;
    }

    .dashboard-navigation>.navigation>span {
        color: var(--color-emerald-50);
        font-size: 1.5rem;
        cursor: pointer;
    }

    .header {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .dashboard-navigation {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .content-area>.section-1 {
        background-color: var(--color-emerald-700);
        width: 100%;
        border-radius: 0;
        padding-top: 0;
        margin: 0;
        margin-top: 0;
    }

    .content-area>.section-1>.sub-section:first-child {
        justify-content: center;
        margin-left: 2rem;
    }

    .content-area>.section-1>.sub-section:first-child>button {
        height: 3rem;
        width: 15rem;

    }

    .content-area>.section-1>.sub-section:last-child {
        margin-left: 3rem;
    }

    .content-area>.section-1>.sub-section:last-child>img:last-child {
        top: 4rem;
        right: 8rem;
    }
}