:root {
    /* Colors */
    --color-emerald-50: #ecfdf5;
    --color-emerald-100: #d1fae5;
    --color-emerald-200: #a7f3d0;
    --color-emerald-300: #6ee7b7;
    --color-emerald-400: #34d399;
    --color-emerald-500: #10b981;
    --color-emerald-600: #059669;
    --color-emerald-700: #047857;
    --color-emerald-800: #065f46;
    --color-emerald-900: #064e3b;

    --color-general: #e0e0e0;

    --color-neutral-400: #94a3b8;

    --color-navigation: #64748B;

    --color-shadow: #000000;
    --color-white: #FFFFFF;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-general);
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
}

.header {
    display: flex;
    background-color: var(--color-emerald-900);
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.header>button {
    background: none;
    color: var(--color-emerald-50);
    border: none;
}

.header>span {
    color: var(--color-emerald-50);
    font-size: 1rem;
    font-weight: 600;
}

.header>p {
    color: var(--color-emerald-50);
    font-size: 1rem;
    border: 0.1rem solid var(--color-emerald-50);
    border-radius: 1rem;
    padding: 0.1rem 0.6rem;
}

.content-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.content-area>.no-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-area>.no-list>img {
    margin-bottom: 1rem;
}