:root {
    /* Colors */
    --color-emerald-50: #ecfdf5;
    --color-emerald-100: #d1fae5;
    --color-emerald-200: #a7f3d0;
    --color-emerald-300: #6ee7b7;
    --color-emerald-400: #34d399;
    --color-emerald-500: #10b981;
    --color-emerald-600: #059669;
    --color-emerald-700: #047857;
    --color-emerald-800: #065f46;
    --color-emerald-900: #064e3b;

    --color-neutral-400: #94a3b8;

    --color-navigation: #64748B;

    --color-shadow: #000000;
    --color-white: #FFFFFF;
}

* {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

button {
    border: hidden;
    margin: 0;
    width: auto;
    background-color: transparent;
}

a {
    font-size: 1.6rem;
}

body {
    width: 100vw;
    height: 100vh;
}

.container {
    width: inherit;
    height: inherit;
    background-color: var(--color-emerald-50);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 3.6rem;
}

.container > .logo {
    margin-top: 10rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.container > .logo > img {
    width: 25rem;
    height: auto;
}

.container > .message {
    width: 80%;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    gap: 2.4rem;
}

.message > .header {
    color: var(--color-emerald-900);
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3.2rem;
}

.message > .body {
    color: var(--color-neutral-400);
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.6rem;
}

.cta {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.cta > .get_started {
    padding: 1.6rem 6rem;
    background-color: var(--color-emerald-700);
    border-radius: 5rem;
}

.get_started > a {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-white);
    line-height: 2rem;
}

.breadcrumbs {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 1.6rem;
}

.breadcrumbs > * {
    width: 1.2rem;
    height: 1.2rem;
    border: .2rem solid var(--color-navigation);
    border-radius: 5rem;
}

.breadcrumbs > .c3 {
    background-color: var(--color-navigation);
}