:root {
    --color-emerald-50: #ecfdf5;
    --color-emerald-100: #d1fae5;
    --color-emerald-200: #a7f3d0;
    --color-emerald-300: #6ee7b7;
    --color-emerald-400: #34d399;
    --color-emerald-500: #10b981;
    --color-emerald-600: #059669;
    --color-emerald-700: #047857;
    --color-emerald-800: #065f46;
    --color-emerald-900: #064e3b;

    --color-neutral-400: #94a3b8;

    --color-navigation: #64748B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-emerald-50);
    overflow: hidden;
    margin: 0;
}

img {
    width: 25rem;
    height: auto;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    color: var(--color-emerald-700);
    font-weight: 700;
}

p {
    width: 75%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    color: var(--color-neutral-400);
    font-weight: 400;
    text-align: center;
}

.logo {
    width: inherit;
    height: inherit;
}

.logo>img:first-child {
    position: absolute;
    right: 0;
    top: -1%;
    z-index: 1;
    height: 24rem;
    width: auto;
}

.logo>img:last-child {
    position: absolute;
    height: 27rem;
    right: 0;
    top: 0;
    width: auto;
}

.container>h1 {
    font-size: 2.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-emerald-700);
    margin-top: 18rem;
    width: 18rem;
    margin-left: 1rem;
}

.container>form {
    margin-top: 7rem;
    display: flex;
    flex-wrap: wrap;
}

.container>form>.inputs>label {
    font-size: 2rem;
    color: var(--color-emerald-700);
    font-family: Arial, Helvetica, sans-serif;
}