:root {
    /* Colors */
    --color-emerald-50: #ecfdf5;
    --color-emerald-100: #d1fae5;
    --color-emerald-200: #a7f3d0;
    --color-emerald-300: #6ee7b7;
    --color-emerald-400: #34d399;
    --color-emerald-500: #10b981;
    --color-emerald-600: #059669;
    --color-emerald-700: #047857;
    --color-emerald-800: #065f46;
    --color-emerald-900: #064e3b;

    --color-neutral-400: #94a3b8;

    --color-navigation: #64748B;

    --color-shadow: #000000;
    --color-white: #FFFFFF;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-emerald-50);
    overflow: hidden;
    margin: 0;
}

.container {
    background-color: var(--color-emerald-50);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.container>.icon {
    width: 100%;
    height: 100%;
    position: relative;
}

.icon>img {
    position: absolute;
    top: 0;
    right: 0;
}

.header>p {
    font-size: 2.8rem;
    margin-top: 11rem;
    margin-right: 2rem;
    margin-left: 1.2rem;
    font-weight: 700;
    color: var(--color-emerald-700);
    padding: 0;
    align-self: flex-start;
    margin-bottom: 3rem;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.input-field {
    display: flex;
    flex-direction: column;
    margin: 0.7rem;
}

.input-field>label {
    font-size: 1.3rem;
    color: var(--color-emerald-700);
    align-self: flex-start;
    margin-bottom: 0.5rem;
}

.input-field>input {
    border: 0.1rem var(--color-emerald-700) solid;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.2rem;
    width: 20rem;
    height: 3rem;
}

#sign-up {
    margin-top: 2rem;
    width: 20rem;
    height: 3.7rem;
    background-color: var(--color-emerald-700);
    border: none;
    color: var(--color-emerald-50);
    font-size: 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

#sign-up:hover {
    background-color: var(--color-emerald-600);
}

span {
    margin-top: 2rem;
    color: var(--color-emerald-700);
}

span>a {
    text-decoration: none;
    color: var(--color-emerald-500);
}

.error {
    color: #b80202;
    background-color: #ffbebe;
    width: 100%;
    text-align: center;
    padding: 1rem;
}

@media only screen and (min-width: 1920px) {
    .icon>img {
        height: 35rem;
    }

    .header>p {
        margin-bottom: 5rem;
    }
}